span name:
input(type="text", name="name", ng-model="new_lib.name")
span version:
input(type="text", name="version", ng-model="new_lib.version")
span url:
input(type="text", name="url", ng-model="new_lib.url")
button(ng-click="submit()") Create

br
br
table.table.results-table
  thead
    tr
      td.table-head-tag
      td.table-name Name
      td.table-ver Version
      td.table-options Options
  tbody
    tr(ng-repeat="lib in libs")
      td.table-tag
      td.table-name {{lib.name}}
      td.table-ver {{lib.version}}
      td.table-options
        button(ng-click="delete(lib)") Delete
