span name:
input(type="text", name="name", ng-model="new_lib.name")
span version:
input(type="text", name="version", ng-model="new_lib.version")
span url:
input(type="text", name="url", ng-model="new_lib.url")
button(ng-click="submit()") Create

br
br
ul
  li(ng-repeat="lib in libs")
    {{lib.name}}
    button(ng-click="delete(lib)") Delete
