a.asset-creation-btn.btn.btn-success.btn-block.mb50(data-toggle='modal', data-target='#myModal') Create new asset
.search-input-container.input-group.mb50
  span.input-group-addon
    span.glyphicon.glyphicon-search
  input.search-input.form-control(type='text', placeholder='Search...', ng-model='query')
#myModal.asset-creation.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
        h4#myModalLabel.modal-title Create new asset
      .modal-body.assets-selection
        .input-group.mb50
          span.input-group-addon @
          input.form-control(type='text', placeholder='Input your email...')
        .search-input-container.input-group.mb50
          span.input-group-addon
            span.glyphicon.glyphicon-search
          input.search-input.form-control(type='text', placeholder='Search...', ng-model='query')
        form(name="form" class="css-form" novalidate, ng-controller="newPackageCtrl")
          div.libs-js.list-group
            label.list-group-item(ng-repeat="lib in libs")
              input(type="checkbox", value="{{lib._id}}")
              {{lib.name}}

          button(ng-click="create()") Pack!

          //- ul.libs-css
          //-   li(ng-repeat="lib in libs")
          //-     label
          //-       input(type="checkbox", value="{{lib._id}}")
          //-       {{lib.name}}
.panel.panel-default.results-table
  table.table.table-striped
    thead
      tr
        td.table-head-tag
        td.table-name Name
        td.table-upd Updated
        td.table-dl Downloads
    tbody
      tr(ng-repeat="item in packages | filter:query", ng-animate="'animate'")
        td.table-tag
        td.table-name {{namesForPackage(item)}}
        td.table-upd {{item.updated_at}}
        td.table-dl 19283
        td.table-dl {{item.url | withHost}}
ul.pagination.mb50
    li
      a(href='#') «
    li
      a(href='#') 1
    li
      a(href='#') 2
    li
      a(href='#') 3
    li
      a(href='#') 4
    li
      a(href='#') 5
    li
      a(href='#') »
