a.asset-creation-btn.btn.btn-success.btn-block.mb50(data-toggle='modal', data-target='#myModal') Create new asset
.search-input-container.input-group.mb50
  span.input-group-addon
    span.glyphicon.glyphicon-search
  input.search-input.form-control(type='text', placeholder='Search...', ng-model='query')

//- Table input
.panel.panel-default.results-table
  table.table.table-striped
    thead
      tr
        td.table-head-tag
        td.table-name Name
        td.table-upd Created
        td.table-dl Downloads
    tbody
      tr(ng-repeat="item in packages | filter:query", ng-animate="'animate'")
        td.table-tag
        td.table-name {{namesForPackage(item)}}
        td.table-upd {{item.created_at}}
        td.table-dl 19283
        td.table-dl
          copy-to-clipboard(text="{{item.url | withHost}}") Copy to Clipboard
ul.pagination.mb50
    li
      a(href='#') «
    li
      a(href='#') 1
    li
      a(href='#') 2
    li
      a(href='#') 3
    li
      a(href='#') 4
    li
      a(href='#') 5
    li
      a(href='#') »


//- Asset creation modal
package-creation-modal
